ul, li{
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #F5FFF6; */
  overflow-x: hidden;
}

hr {
  /* background-color: #e94560; */
  border-color: #ffffff;
}

/* button css */
.submit-button {
  border: 1px solid rgb(103, 214, 103);
  padding: 10px 15px;
  background-color: rgb(103, 214, 103);
  color: white;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.submit-button:hover {
  background-color: white;
  color: rgb(103, 214, 103);
  border: 1px solid rgb(103, 214, 103);

}

.the-button {
  padding: 10px 13px;
  border: 1px solid #f3415e;
  background-color: #ee5b73;
  color: white;
  border-radius: 6px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 40px;
  margin-bottom: 50px;
}

.the-button:hover {
  background-color: white;
  color: #e94560;
}

.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}


.app-container {
  display: flex;
}

.left-panel {
  background-color: rgb(248, 193, 248);
  width: 50%;
  height: 100vh;
}

.right-panel {
  /* align-content: center; */
  margin: auto;
}

.rightSignInPanel {
  background-color: rgb(248, 193, 248);
  width: 50%;
  height: 100vh;
}

.leftSignInPanel {
  margin: auto;
}

.logo-text {
  color: rgb(163, 250, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3% 3%;
}
.logo-text span {
  color: #ee5b73;
}




.form-container {
  
  justify-content: center;
}

.login-text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 3rem;
  font-size: 2rem;
}


.userInput {
  padding: 7px 15px;
  display: block;
  width: 30rem;
  height: 2rem;
  margin-bottom: 5%;
  border-radius: 3px;
  border-color: rgb(196, 196, 196);
}


.or-part {
  display: inline;
}


.line-division {
  width: 70px;
}

.divider-container {
  display: flex;
  align-items: center;
}

.line-division {
  flex-grow: 1; 
  border: none; 
  height: 1px; 
  background-color: rgb(83, 83, 83);
}

.or-part {
  margin: 0 10px; 
  color: rgb(83, 83, 83);
}

.sign-up-text {
  text-align: center;
  margin-top: 7%;
  color: rgb(136, 135, 135);
}

.sign-up-text .signup-text-link {
  text-decoration: none;
  color: rgb(69, 104, 202);
}

.sign-up-text .signup-text-link:hover {
  color: rgb(90, 123, 212);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 50px; /* Increased height for better alignment */
  padding: 0 20px; /* Added padding for spacing inside navbar */
  
  box-shadow: 0 4px 2px -2px rgb(143, 143, 143);
}

.nav-logo h1 {
  font-size: 30px;
  color: #ee5b73;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #ee5b73;
  font-weight: bolder;
}

.addButton {
  
  background-color: #ee5b73;
  border-color: #e94560;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.addButton a {
  color: white;
  text-decoration: none;
}

/* search bar  css*/

.input-box {
  /* width: 200px;
  height: 30px; */
  /* background-color: red; */
}

.search-style {
  width: 400px;
  height: 29px;
  border-radius: 5px;
  border-color: rgb(160, 161, 161);
  padding: 0 10px;
}

.centered-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.featured-recipes {
  /* background-color: aqua; */
  height: 270px;
  width: 100%;
  padding: 1.5% 3%;
}

.featured-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.featured-text h2 {
  margin: 0;
  padding-right: 1rem;
  color: #535353;
}

.featured-text hr {
  flex-grow: 1;
  border: none;
  margin: 0;
  border-top: 1px solid #adadad;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* background-color: red; */
  margin-left: 1%;
}

.carousel-container li {
  margin-right: 20px;
}

/* minicard css */

.minicard-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feed-text {
  display: flex;
  align-items: center;
  /* margin-top: 30px; */
  margin: 20px 0;
}

.feed-text h1 {
  color: #464646;
}

.feed-text hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #adadad;
  margin: 0 60px;
}

/* forum container */

.main-forum-container {
  width: 100%;
  height: 650px;
  /* background-color: #d42121; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  margin-top: 30px;
  /* overflow-x: hidden; */
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-panel, .middle-panel, .right-panel {
  padding: 20px;
  box-sizing: border-box;
}

.friend-panel {
  /* background-color: #adadad; */
  display: flex;
  width: 300px;
  height: 600px;
  /* padding-left: 0px; */
}

.forum-panel {
  /* background-color: #adadad; */
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: overflow 0.3s ease; */
  width: 900px;
  height: 800px;
  padding: 10px;

}

.posts-container {
  display: flex;
  flex-direction: column-reverse;
}

.post {
  background-color: #fff;
  border: 1px solid #ee5b73;
  height: 100px;
  padding: 15px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forum-panel:hover {
  overflow: auto;
}

.news-panel {
  background-color: #adadad;
  width: 300px;
  height: 400px;
}

/* friend rec component */

.friend-rec-container {
  width: 250px;
  height: 600px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
}

.friends-rec-text {
  margin: 10px 0 16px 60px;
  font-size: 20px;
  color: #e94560;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friend-card-container {
  
  height: 60px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px 8px;
}

/* friend card css */

.add-friend-button {
  color: white;
  border-color: #f87a8f;
  padding: 3px 7px;
  background-color: #e94560;
  border: 1px solid;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.add-friend-button:hover {
  color: #e94560;
  background-color: rgb(255, 255, 255);
  transition: background-color
   0.3s ease, color 0.3s ease;
}


/* CSS MENU PAGE */
/* menu recipe page  */
.headerrecipe {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 95%;
  height: 50px;
  margin-left: 2%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.content-recipe {
  position: relative;
  top: 75px; /* Adjust this value to match the height of your header */
}

.food-menu {
  margin-top: 10px;
}

.addRecipee {
  margin-top: 6px;
}

.add-menu-btn {
  padding: 10px 20px; /* Padding inside the button */
  border: 1px solid #f3415e;
  background-color: #ee5b73;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* margin-top: -35px; Adjust margin if needed */
  /* margin-bottom: 50px; Adjust margin if needed */
}

.menu-card {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
}

.menu-container {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 1%;
}

.ulmenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.imagephoto {
  width: 250px;
  height: 250px;
}

.menuname {
  margin: auto;
}
/* END MENU PAGE */


/* This is for profile & recipe */

.profile-window{
  width: 100%;
  height: min-content;
  margin: 4em 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-content-box{
  height: min-content; /*Nanti ganti jadi min-content*/
  margin: 2em 0;
  width: 80%; 
  
  text-align: center;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  background-color: #FDF1FF;
}

.profile-box{
  margin: 2em;
  margin-bottom: 4em;
}

.profile{
  width: 100%;
  height: min-content;
  display: flex;
}

.profile-img{
  width: 15em;
  height: 15em;
  border-style: solid;
  border-radius: 50%;
  border-color: #535353;
}

.profile-img img{
  width: 100%;
  border-radius: 50%;
}

.profile-name{
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #adadad;
  margin: 1em;
  text-align: left;
  width:50%;
}
.profile-name h1{
  padding: 0.2em;
}

.profile-txt{
  width: 100%;
}

.profile-txt hr{
  margin: 0em 1em;
  width: 20%;
}

.profile-desc{
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #adadad;
  margin: 1em;
  text-align: left;
  height: 50%;
}

.profile-desc h3{
  padding: 0.4em;
}

.profile-edit{
  width: 3.2em;
  height: 2.5em;
}

.profile-edit a{
  box-shadow: 1px 4px 8px gray;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
  border-style: none;
  font-size: 20px;
  text-align: center;
  line-height: 2em;
  background-color: #ee5b73;
  color: #FDF1FF;
}

.profile-edit a:hover{
  background-color: white;
  color: #ee5b73;
}

.profile-bottom{
  width: 100%;
  background-color: white;
  height: 500px;
}

.edit-pic-column{
  width: min-content;
  align-items: center;
}

.edit-profile-content{
  display: flex;
}

.edit-string-form{
  width: 100%;
  height: 100%;
  align-items: left;
}

.edit-string-form input{
  width: 80%;
  margin-bottom: 1em;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.edit-string-form textarea{
  width: 80%;
  height: 10em;
  margin-bottom: 1em;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid black;
}

.edit-string-form button{
  padding: 1em;
  border: 0;
  border-radius: 5px;
  color: #FDF1FF;
  font-size: 20px;
  margin: 1em;
  background-color: #ee5b73;
}

.edit-profile-pic{
  align-items: center;
  margin: 1em 0;
  padding: 0.5em;
  padding-right: 0;
  background-color: #ee5b73;
  border-radius: 5px;
  width: min-content;
}

.edit-profile-content{
  padding: 1.2em;
}


/* Recipes CSS */

.MenuRecipe-Box{
  margin: 20px;
  padding: 20px;
}

.Outer-card{
  margin: 100px;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-top: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  /* text-align: center; */
}
.wrapper{
  display: flex;
  flex-direction: row;
  height: min-content;
  color: green;
  
}

.menuName{
  color: green;

}

.left-box{
  width: 40%;
  height: min-content;
  margin: 20px;  
}

.right-box{
  width: 60%;
  height: min-content;
}

.image-wrapper{
  display: flex;
  justify-content: center;
}

.right-upper{
  max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-lower{
  margin: 10px;
  text-align: center;

}

.menuName{
  padding: 20px 0px 20px 10px;
}



.time-rate{
  width: 20px;
  height: 20px;
  object-fit: fill;
  padding-top: 4px;
  padding-right: 10px;

}

.love-rate{
  width: 40px;
  height: 30px;
  object-fit: cover;
  padding-right: 1px;
}

.vertical{
  border: 1px solid grey;
  border-radius: 1px;
  margin-right: 10%;
  margin-left: 10%;
  transform: rotsate(90deg);

}

.horizontal{
  border: 1px solid grey;
  border-radius: 1px;
  /* marin-bottom: 10px; */
  margin: 10px 10px 15px 10px; 
  /* margin-top: 10px; */
}

.menu-image{
  height: 200px;
  width: 300px;
  object-fit: fill;
  border-radius: 15px;

}

.recipe{
  /* margin-top:50px; */
  margin-left: 20px;
}

div.arrow {
	width: 3vmin;
	height: 3vmin;
	box-sizing: border-box;
	position: absolute;
	left: 10%;
	top: 10%;
	transform: rotate(225deg);
  margin-top: 30px;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: ee5b73;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: ee5b73;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: rgb(128, 62, 0);
		height: 120%;
	}
	&:hover::before {
		border-color: rgb(128, 62, 0);
		transform: scale(.8);
		
	}
	
}


/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.modal-content h2 {
  color: #e94560;
  text-align: center;
  margin-bottom: 20px;
}

.form-input-container {
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.modal-content .post-input {
  width: calc(100% - 20px);
  border: 1px solid #f87a8f;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.modal-content textarea {
  height: 200px;
}

.modal-content .post-input:focus {
  border-color: #e94560;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f87a8f;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button:hover {
  color: #e94560;
}

.post-button {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.post-button:hover {
  background-color: #d83f57;
}