* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #F5FFF6; */
  overflow-x: hidden;
}

hr {
  /* background-color: #e94560; */
  border-color: #ffffff;
}

/* button css */

.the-button {
  padding: 10px 13px;
  border: 1px solid #f3415e;
  background-color: #ee5b73;
  color: white;
  border-radius: 6px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 40px;
  margin-bottom: 50px;
}

.the-button:hover {
  background-color: white;
  color: #e94560;
}

.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}


.app-container {
  display: flex;
}

.left-panel {
  background-color: rgb(248, 193, 248);
  width: 50%;
  height: 100vh;
}

.right-panel {
  /* align-content: center; */
  margin: auto;
}

.rightSignInPanel {
  background-color: rgb(248, 193, 248);
  width: 50%;
  height: 100vh;
}

.leftSignInPanel {
  margin: auto;
}

.logo-text {
  color: rgb(163, 250, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3% 3%;
}
.logo-text span {
  color: #ee5b73;
}




.form-container {

  justify-content: center;
}

.login-text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 3rem;
  font-size: 2rem;
}


.userInput {
  padding: 7px 15px;
  display: block;
  width: 30rem;
  height: 2rem;
  margin-bottom: 5%;
  border-radius: 3px;
  border-color: rgb(196, 196, 196);
}


.or-part {
  display: inline;
}


.line-division {
  width: 70px;
}

.divider-container {
  display: flex;
  align-items: center;
}

.line-division {
  flex-grow: 1; 
  border: none; 
  height: 1px; 
  background-color: rgb(83, 83, 83);
}

.or-part {
  margin: 0 10px; 
  color: rgb(83, 83, 83);
}

.sign-up-text {
  text-align: center;
  margin-top: 7%;
  color: rgb(136, 135, 135);
}

.sign-up-text .signup-text-link {
  text-decoration: none;
  color: rgb(69, 104, 202);
}

.sign-up-text .signup-text-link:hover {
  color: rgb(90, 123, 212);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 50px; /* Increased height for better alignment */
  padding: 0 20px; /* Added padding for spacing inside navbar */
  
  box-shadow: 0 4px 2px -2px rgb(143, 143, 143);
}

.nav-logo h1 {
  font-size: 30px;
  color: #ee5b73;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #ee5b73;
  font-weight: bolder;
}

.addButton {
  
  background-color: #ee5b73;
  border-color: #e94560;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.addButton a {
  color: white;
  text-decoration: none;
}

/* search bar  css*/

.input-box {
  /* width: 200px;
  height: 30px; */
  /* background-color: red; */
}

.search-style {
  width: 400px;
  height: 29px;
  border-radius: 5px;
  border-color: rgb(160, 161, 161);
  padding: 0 10px;
}

.centered-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.featured-recipes {
  /* background-color: aqua; */
  height: 270px;
  width: 100%;
  padding: 1.5% 3%;
}

.featured-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.featured-text h2 {
  margin: 0;
  padding-right: 1rem;
  color: #535353;
}

.featured-text hr {
  flex-grow: 1;
  border: none;
  margin: 0;
  border-top: 1px solid #adadad;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* background-color: red; */
  margin-left: 1%;
}

.carousel-container li {
  margin-right: 20px;
}

/* minicard css */

.minicard-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feed-text {
  display: flex;
  align-items: center;
  /* margin-top: 30px; */
  margin: 20px 0;
}

.feed-text h1 {
  color: #464646;
}

.feed-text hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #adadad;
  margin: 0 60px;
}

/* forum container */

.main-forum-container {
  width: 100%;
  height: 650px;
  /* background-color: #d42121; */
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  /* overflow-x: hidden; */
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-panel, .middle-panel, .right-panel {
  padding: 20px;
  box-sizing: border-box;
}

.friend-panel {
  /* background-color: #adadad; */
  width: 300px;
  height: 600px;
  /* padding-left: 0px; */
}

.forum-panel {
  background-color: #adadad;
  overflow: hidden;
  transition: overflow 0.3s ease;
  width: 900px;
  height: 400px;

}

.forum-panel:hover {
  overflow: auto;
}

.news-panel {
  background-color: #adadad;
  width: 300px;
  height: 400px;
}

/* friend rec component */

.friend-rec-container {
  width: 250px;
  height: 600px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
}

.friends-rec-text {
  margin: 10px 0 16px 60px;
  font-size: 20px;
  color: #e94560;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.friend-card-container {
  
  height: 60px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px 8px;
}

/* friend card css */

.add-friend-button {
  color: white;
  border-color: #f87a8f;
  padding: 3px 7px;
  background-color: #e94560;
  border: 1px solid;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.add-friend-button:hover {
  color: #e94560;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}


