* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
}

.left-panel {
  background-color: rgb(248, 193, 248);
  width: 50%;
  height: 100vh;
}

.right-panel {
  /* align-content: center; */
  margin: auto;
}

.form-container {

  justify-content: center;
}

.login-text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 3rem;
  font-size: 2rem;
}


.userInput {
  padding: 7px 15px;
  display: block;
  width: 30rem;
  height: 2rem;
  margin-bottom: 5%;
  border-radius: 3px;
  border-color: rgb(196, 196, 196);
}


.or-part {
  display: inline;
}


.line-division {
  width: 70px;
}

.divider-container {
  display: flex;
  align-items: center;
}

.line-division {
  flex-grow: 1; 
  border: none; 
  height: 1px; 
  background-color: rgb(83, 83, 83);
}

.or-part {
  margin: 0 10px; 
  color: rgb(83, 83, 83);
}

.sign-up-text {
  text-align: center;
  margin-top: 7%;
  color: rgb(136, 135, 135);
}

.sign-up-text a {
  text-decoration: none;
  color: rgb(69, 104, 202);
}

.sign-up-text a:hover {
  color: rgb(90, 123, 212);
}